*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, 'Arial', 'Helvetica', sans-serif);
}

.heading {
  font-family: var(--accent-font, 'Arial', 'Helvetica', sans-serif);
  line-height: 90%;
  text-align: center;
  font-weight: 600;
}

.header__logo {
  color: currentColor;
}

.content-section {
  padding-inline: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-block-end: 40px;
}

.content__title {
  font-size: 30px;
  padding-block-start: 7%;
  padding-block-end: 2.5%;
}

.header {
  padding-block-start: 10%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  padding-block-end: 1.4em;
}

a {
  color: inherit;
}

.content__blockquote {
  width: 75%;
  font-style: italic;
  padding-block-end: 1.5em;
  margin: auto;
  line-height: 200%;
}

.content__list {
  list-style: none;
}

.content__list-item {
  position: relative;
  padding-inline-start: 0;
}

.content__list-item:not(:last-child) {
  margin-block-end: 10px;
}

.content__list-item::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset-block-start: 50%;
  inset-inline-start: -25px;
  margin-block-start: -8px;
}

.theme_dark .content__list-item::before {
  background-image: url(../images/marker-dark.svg);
}

 .content__text-block_type_first-lettered > .content__paragraph:first-child:first-letter {
  display: inline-block; 
  background-color: var(--accent-color, #FFAB6B);
  padding: 0 4px;
  margin-inline-end: 1px;
  font-size: 30px;
  font-weight: 600;
 }

 .theme_dark .content__text-block_type_first-lettered > .content__paragraph:first-child:first-letter {
  border: 1px solid currentColor;
 }

 .content__figure {
  margin: 7% auto;
  width: calc(100% + (5vi + 5vi) );
  position: relative;
  inset-inline-end: 5vi;
 }

 .content__picture {
  width: 100%;
 }

 .content__picture-caption {
  border-block-end: 1px solid var(--text-color, #312A4E);
  padding: 20px;
  text-align: center;
  font-size: 18px;
 }

 .content__card {
  aspect-ratio: 4 / 3;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .content__card-title {
  font-style: normal;
  font-size: 60px;
  color: var(--text-color, #312A4E);
 }

 .content__card-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
 }

 .colored-text {
  position: relative;
  display: inline-block;
 }

 .colored-text::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color, #FFAB6B);
  z-index: -1;
  width: calc(100% + 8px);
  height: 0.28em;
  inset-inline-start: -5px;
  inset-block-end: 0.15em;
 }

 .theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
 }

 .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding-block: 20px;
}

 .header__theme-toggler {
  display: flex;
  list-style: none;
  padding: 0;
 }

 .header__theme-button {
  font-family: inherit;
  background-color: transparent;
  color: currentColor;
  border: none;
  position: relative;
  font-style: normal;
  font-size: 18px;
  line-height: 104%;
  padding: 0 7px;
 }

 .theme_dark button {
  background-color: var(--bg-color, #171717);
 }

 .header__theme-button:hover {
  cursor: pointer;
  border-block-end: 1px solid currentColor;
 }

 a:focus, button:focus {
  outline: none;
 }

 a:focus-visible, button:focus-visible {
  outline: 1px solid currentColor;
 }

 button:disabled {
  pointer-events: none;
 }

 .header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  background-color: var(--accent-color, #FFAB6B);
  z-index: -1;
  width: 100%;
  height: 0.5em;
  inset-block-end: 0em;
  inset-inline-start: 0px;
}

.theme_dark .header__theme-button_is-active::after {
  z-index: 1;
  background-image: url(../images/pattern.svg);
}

.footer {
  margin-block-start: 10%;
  padding: 2.5%;
  border-block-start: 1px solid currentColor;
}

.footer__copyright {
  font-size: 18px;
  text-align: center;
}
